.App {
    text-align: center;
}

.Post {
    text-align: left;
}

.Replies {
    text-align: left;
    padding-left: 5%;
}

.reply-button {
    float: right;
    display: inline-block;

}

.content {
    display: inline-block;
}

.next-line {
    word-wrap: break-word;
}

.avatar {
    height: 42px;
    width: 42px;
}

.main-list {
    max-height: 70%;
    overflow: auto;
}

.positivity {
    height: 50px;
    width: 50px;
}


/*Imported CSS*/